name: Library Services CI

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.10

    - name: Install dependencies
      run:
        python -m pip install --upgrade pop
        pip install -r requirements.txt

    - name: Run tests with coverage
      run:
        pytest --cov=calculator --cov-report=xml tests/